
/*=============================================
=            Reset            =
=============================================*/

* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

*:before,
*:after { box-sizing: inherit; }

/*=====  End of Reset  ======*/


/*=============================================
=            Base            =
=============================================*/

body {
    background-color: var(--darker);
    font-family: 'Oswald', sans-serif;
	font-weight: 100;
    font-size: 1.25rem;
}

h1 {
	font-size: 61px;
	line-height: 1.3em;
	font-weight: 600;
}

h2 {
	font-size: 26px;
	line-height: 1em;
	font-weight: 100;
}

h3 {
	font-size: 23px;
	line-height: 1.3em;
	font-weight: 100;
}

h4 {
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: 0.1em;
}

h5 {
	font-size: 15px;
	line-height: 1.5em;
    font-weight: 100;
}

h6 {
	font-size: 10px;
	line-height: 1.5em;
    font-weight: 100;
}

a {
	color: inherit;
	text-decoration: none !important;
}

input {
	font-family: inherit;
}

li {
    list-style-type: none;
}

/*=====  End of Base  ======*/


/*=============================================
=            Colors            =
=============================================*/

:root {
    --black: #000000;
    --white: #ffffff;
    --primary: #17a2b8;
    --light: #EEEEEE;
    --dark: #292d44;
    --darker: #1d2030;
    --green: #34BE82;
    --light-green: #2FDD92;
    --success: #2FDD92;
    --light-blue: #7fbbda;
    --silver: #c0c0c0;
}

/*=====  End of Colors  ======*/


/*=============================================
=            Z Index            =
=============================================*/

:root {
    --top-index: 10;
    --middle-index: 5;
    --lowest-index: 3;
}

/*=====  End of Z Index  ======*/

/*=============================================
=            Wrapper            =
=============================================*/

.wrapper {
    display: block;
    margin: auto auto;
    max-width: 1200px;
}

/*=====  End of Wrapper  ======*/


/*=============================================
=            Page            =
=============================================*/

.page-with-nav {
    padding: 7rem 3rem;
}

/*=====  End of Page  ======*/

/*=============================================
=            Navigation            =
=============================================*/

.navigation {
    width: 100%;
    min-width: 100%;

    .content {
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--top-index);
        width: 100%;
        background-color: var(--dark);
        box-shadow: 0 0 3rem rgba(0, 0, 0, 1);

        ul {
            display: flex;
            flex-direction: row;
            text-align: center;
            margin: 0 !important;
        }

        li {
            width: 20rem;
            max-width: 20rem;
            flex: auto;
            color: var(--light);
            padding: 0.6rem;
            font-size: 1.3rem;
            text-transform: uppercase;
            font-weight: 100;

            a {
                width: 100%;
                display: inline-block;
            }

            &:not(.logo):hover {
                background-color: var(--white);
                color: var(--dark);
            }

            a:hover {
                color: inherit !important;
            }
        }

        .logo  {
            position: relative;

            i {
                position: absolute;
                top: -3rem;
                font-size: 5rem;
                background-color: var(--dark);
                border-radius: 55%;
                height: 10rem;
                padding: 0.5rem;
            }

            &:hover {
                color: var(--success);
            }
        }
    }
}

.navigation-white {
    .content {
        background-color: var(--light);
        color: var(--dark);

        li {
            color: var(--dark);
        }
    }
}

/*=====  End of Navigation  ======*/


/*=============================================
=            Hero            =
=============================================*/

.hero {
    position: relative;

    .body {
        z-index: 3;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        text-shadow: 1rem 0 3rem rgba(0, 1, 0, 0.5);

        .title {
            text-transform: uppercase;
            color: var(--white);
        }

        .subtitle {
            color: var(--white);
            margin-bottom: 3rem;
        }
    }

    .wallpaper {
        height: 30rem;
        box-shadow: inset 0 0 1000rem rgba(0, 0, 0, 1);

        img {
            width: 100%;
            height: 100%;
            max-height: 30rem;
            object-fit: cover;
            position: relative;
            z-index: -2;
        }
    }
}

/*=====  End of Hero  ======*/

/*=============================================
=            Sections            =
=============================================*/

.section {
    background-color: var(--white);
    padding: 5rem 1rem;

    .section-title {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-content {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 1rem;
    }
}

.section-pictures {
    .section-content {
        display: flex;
        color: var(--white);


        .picture {
            max-width: 50%;
            flex-grow: 2;
            max-height: 20rem;

            img {
                width: 100%;
                height: 100%;
                max-height: 30rem;
                object-fit: cover;
                position: relative;
                z-index: -2;
            }
        }

        .picture-dsc {
            max-width: 50%;
            flex: flex-grow;
            flex-grow: 2;
            padding: 2rem;

            .picture-title {
                margin-bottom: 1rem;
            }
        }

        .picture-dsc-dark {
            background-color: var(--dark);
        }

        .picture-dsc-prim {
            background-color: var(--primary);
        }
    }
}

/*=====  End of Sections  ======*/


/*=============================================
=            Footer            =
=============================================*/

.footer {
    background-color: var(--darker);
    color: var(--white);
    font-size: 1rem !important;

    ul {
        display: flex;
        flex-direction: row;
        text-align: center;

        li {
            flex: auto;
            padding: 0.3rem;
        }
    }
}

/*=====  End of Footer  ======*/


/*=============================================
=            Login            =
=============================================*/

.login-card {
    width: 70rem;
    background-color: var(--light);
    margin: auto;
    border-radius: 1rem;
    overflow: hidden;

    .header {
        background-color: var(--primary);
        width: 100%;
        padding: 4rem 1rem 1rem 1rem;
        text-align: center;
        color: var(--white);
    }

    .body {
        padding: 3rem;
    }

    .footer {
        text-align: center;
        background-color: var(--light);
    }
}

.login-wallpaper {
    max-width: 100%;
    height: 100%;

    img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*=====  End of Login  ======*/


/*=============================================
=            Links            =
=============================================*/

.link--login {
    background-color: var(--light-green);
    border: 1px solid var(--green);

    &:hover {
        background-color: var(--white);
        color: var(--dark) !important;
        border-color:var(--white);

        a {
            color: var(--dark) !important;

        }
    }

    a:hover {
        color: var(--dark) !important;
    }
}

.link--logout {
    background-color: var(--danger);

    &:hover {
        background-color: var(--white);
        color: var(--danger) !important;

        a {
            color: var(--danger) !important;

        }
    }

    a:hover {
        color: var(--dark) !important;
    }
}

.link--backhome {
    background-color: var(--light-blue);
    border: 1px solid var(--dark);
    color: var(--white);

    &:hover {
        background-color: var(--light);
        color: var(--dark) !important;
    }
}

.link--white {
    background-color: var(--white);
    color: var(--primary) !important;

    &:hover {
        background-color: var(--primary) !important;
        color: var(--white) !important;
    }
}

/*=====  End of Links  ======*/


/*=============================================
=            Card            =
=============================================*/

.card {
    width: 30rem;
    margin: auto;
    background-color: var(--white);

    .card-header {
        position: relative;
        padding: 1.5rem;
        text-align: center;
        border-bottom: 1px solid var(--silver);

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -0.5rem;
            left: 0;
            right: 0;
            margin: auto;
            width: 1rem;
            height: 1rem;
            background-color: var(--danger);
            border-radius: 55%;
        }
    }

    .card-body {
        padding: 2rem 2rem;
        max-height: 500px;
        overflow-y: auto;
    }

    .card-footer {
        background-color: var(--white);
        padding: 1rem;
    }
}

.card-40 {
    min-height: 40rem !important;
    height: 40rem !important;
    max-height: 40rem !important;
}

/*=====  End of Card  ======*/


/*=============================================
=            Rotate            =
=============================================*/

.r-180 {
    transform: rotate(180deg);
}


/*=====  End of Rotate  ======*/


/*=============================================
=            Position Element            =
=============================================*/

.ab-center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.ps-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

/*=====  End of Center Element  ======*/


/*=============================================
=            Slider            =
=============================================*/


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1rem;
    background: var(--light);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 1rem;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 55%;
    background: var(--light-green);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background: var(--light-green);
    cursor: pointer;
}

/*=====  End of Slider  ======*/


/*=============================================
=            Separator            =
=============================================*/

.separator {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2px;
    margin-top: -1rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;

    .separator-line {
        display: inline-block;
        width: 10rem;
        height: 1px;
    }

    .separator-ball {
        display: inline-block;
        margin: 0 0.5rem;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
    }
}

.separator-white {
    * {
        background-color: var(--white);
    }
}

/*=====  End of Separator  ======*/
